* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-principal {
  width: 80%;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 30px;
  border: 5px solid rgb(15, 5, 5);
}

.contenedor-interno {
  border-radius: 50px;
  border: 5px solid rgb(29, 1, 1);
}

.contenedor-botones {
  padding: 20px;
}

#cronometro {
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  user-select: none;
  font-family: "Noto Sans Thai", sans-serif;
}

.boton {
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
  background-color: #08e008;
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
  background-color: #ffdc00;
}

#boton-reiniciar {
  background-color: red;
}
